<app-header></app-header>
<hr />
<ng-container *ngIf="products.length !=0" >
  <div class="container">
    <div class="card-table">
      <div class="card-product">
        <table class="table table-response">
          <thead>
            <tr>
              <th>Sr.No.</th>
              <th>Product Name</th>
              <th>Product Image</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let item of products; let i = index">
              <td >{{i+1}}</td>
              <td>{{item.title}}</td>
              <td><img style="width:120px;" src="{{item.image}}" alt="fruits"></td>
              <td>$ {{item.price}}</td>
              <td>{{item.quantity}}</td>
              <td>{{item.total}}</td>
              <td>
                <button (click)="removeItem(item)" class="btn btn-danger"><i class="fas fa-trash"></i></button>
              </td>
            </tr>
            <tr>
              <td colspan="3"></td>
              <td><button (click)="emptyCart()"  class="btn btn-danger">Empty Cart <i class="fas fa-shopping-cart"></i> </button></td>
              <td><button routerLink="/products"  class="btn btn-primary">Shop More <i class="fas fa-cart-plus"></i> </button></td>
              <td><button routerLink="/home" class="btn btn-success">Checkout </button></td>
              <td><strong>Grand Total : ${{grandTotal | number : '1.2-2'}}</strong> </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="products.length ==0">
  <div class="container-fluid mt-100">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5>Cart</h5>
                </div>
                <div class="card-body cart">
                    <div class="col-sm-12 empty-cart-cls text-center"> <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3">
                        <h3><strong>Your Cart is Empty</strong></h3>
                        <h4>Add something in your cart</h4>
                        <a routerLink="/products" class="btn btn-primary cart-btn-transform m-3" data-abc="true">continue shopping</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</ng-container>
<hr />
<app-footer></app-footer>
