.dropdown {
  margin-left: 68rem;
  font-size: 1.2rem;
  font-family: Palatino Linotype;
  width: 280px;
  height: 35px;
  border: 3px solid #000000;
  border-radius: 10px;
  display: inline-block;
}
select.dropdown {
  background-position: right center;
  background-repeat: no-repeat;
  position: right 10px center;
  color: transparent;
  padding-right: 28px;
  padding-left: 18px;
  text-indent: 0.01px;
  cursor: pointer;
  color: #39342e;
}
.dropdown:focus {
  border: none;
}
.p-title {
  margin-top: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100ch;
  font-size: 1rem;
  font-weight: bolder;

}
.card img {
  width: 220px;
  height: 200px;
  margin: auto;
}

.card img:hover {
  transition: 0.2s ease-in-out;
  transform: scale(1.1);
}

.btn-add {
  border: 5px solid #39342e;
  width: 3rem;
  margin-left: 4rem;
  font-weight: bolder;
  border-radius: 2rem;
}

.btn-minus {
  border: 5px solid #39342e;
  width: 3rem;
  border-radius: 2rem;
  margin-top: -4.3rem;
  margin-left: 12rem;
  font-weight:bolder;
}

.item-qnt {
  width: 5rem;
  border: 5px solid #39342e;
  font-size: 1rem;
  margin: auto;
  font-weight: bolder;
}

.card {
  padding: 12px 12px 12px 16px;
  border: 2px solid #39342e;
}

.card .rating {
  border-style: 1px solid;
  border-color: none;
  padding: 0 8px;
  background-color: #629436;
  color: #000000;
}

.fa-star {
  color: #b6cf9f;
  padding-left: 8px;
}
